<div class="span2">
  <ul class="nav nav-list">
    <% @grouped_nodes.each do |(group_name, nodes)| %>
      <li class="nav-header">
        <%= group_name %>
      </li>
      <% nodes.each do |name, node| %>
        <li id="<%= name %>-list">
          <a href="#<%= name %>">
            <%= name %>
            <span class="badge badge-warning hide">&nbsp;</span>
            <span class="badge badge-error hide">&nbsp;</span>
          </a>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>

<div class="span10">
  <% Informant.configuration.nodes.each do |(name, node)| %>
    <h3><a name="<%= name %>"><%= name %></a></h3>
    <table id="<%= name %>-table" class="nodes table table-striped table-condensed">
      <thead>
        <tr>
          <th>Name</th>
          <th>Last Check</th>
          <th>Output</th>
        </tr>
      </thead>
      <tbody>
        <% node.statuses.each do |status| %>
          <tr id="<%= id_for_status(status) %>">
            <td class=".label">
              <%= status.command.name %>
              <span class="label <%= label_class_for_status(status.status) %>"><%= status.status %> </span>
            </td>
            <td class="timestamp">
              <abbr class="easydate" title="<%= http_date status.timestamp %>" />
            </td>
            <td class="output"><%= status.output %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>

<script id="check-row" type="text/x-handlebars-template">
  <td class=".label">
    {{ commandName }}
    <span class="label {{ statusClass }}">{{ status }}</span>
  </td>
  <td class="timestamp">
    <abbr class="easydate" title="{{ timestamp }}">just now</abbr>
  </td>
  <td class="output">{{ output }}</td>
</script>
